table {
    margin-left: auto;
    margin-right: auto;
    border: 45px;
}

h3 {
    text-align: center;
    font-size: 30px;
    font-weight: bolder;
    color: white;
}


body {
    background-color: rgb(77, 153, 204);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* font-size: x-large; */
    text-align: center;
}

td {
    border: 5px solid black;
    height: 65px;
    width: 65px;
    text-align: center;
    font-size: x-large;
    font-weight: bolder;
    /* background-color: brown; */
}

.caseblanche {
    background-color: rgb(219, 177, 122);
    text-decoration: white;
}

.casenoire {
    background-color: brown;
    text-decoration: black;
}

button {
    display: inline-block;
    background-color: #e5eaeb;
    color: #070604;
    text-align: center;
    font-size: 14px;
    padding: 2px;
    width: 85px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    margin: 5px;
}

input {
    text-align: left;
    width: 6%;
    padding: 5px;
    color: #070604;
    margin: 5px;
    border: 2px solid #070604;
}

a {
    text-decoration: none;
    color: #070604;
}

a:hover {
    color: white;
}

button:hover {
    background-color: rgb(6, 156, 161);
    cursor: pointer;
    transition: 0.5s;
    color: #e5eaeb;
    border-radius: 50px;
}